<template>
  <v-container>
    <v-row no-gutter>
      <v-col cols="12">
        <div class="text-overline mb-0 cyan--text">
          Total(3) Items
        </div>
      </v-col>
      <v-col cols="12" md="7">
        <template>

          <v-card class="mx-auto" outlined>
            <v-btn absolute top color="error" right fab x-small>
              <v-icon>mdi-close</v-icon>
            </v-btn>



            <v-list-item three-line>
              <v-list-item-avatar tile size="80">
                <v-img class="mx-2" src="/img/mob.png" height="74" width="74" contain></v-img>
              </v-list-item-avatar>
              <v-list-item-content>

                <v-list-item-title class="font-weight-bold text--primary">
                  Super Dinner
                </v-list-item-title>
                <v-list-item-subtitle>KFC Salmiya</v-list-item-subtitle>
                <v-row>
                  <v-col cols="12" md="6">
                    <div class="text--primary pt-5">
                      2.350 x 1 = 2.350 KD


                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="d-flex justify-end">
                    <v-btn outlined rounded text>
                      Apply
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item-content>


            </v-list-item>



          </v-card>
          <v-card class="mx-auto my-5" outlined>
            <v-btn absolute top color="error" right fab x-small>
              <v-icon>mdi-close</v-icon>
            </v-btn>



            <v-list-item three-line>
              <v-list-item-avatar tile size="80">
                <v-img class="mx-2" src="/img/mob.png" height="74" width="74" contain></v-img>
              </v-list-item-avatar>
              <v-list-item-content>

                <v-list-item-title class="font-weight-bold text--primary">
                  Super Dinner
                </v-list-item-title>
                <v-list-item-subtitle>KFC Salmiya</v-list-item-subtitle>
                <v-row>
                  <v-col cols="12" md="6">
                    <div class="text--primary pt-5">
                      2.350 x 1 = 2.350 KD


                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="d-flex justify-end">
                    <v-btn outlined rounded text>
                      Apply
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item-content>


            </v-list-item>



          </v-card>
          <v-card class="mx-auto" outlined>
            <v-btn absolute top color="error" right fab x-small>
              <v-icon>mdi-close</v-icon>
            </v-btn>



            <v-list-item three-line>
              <v-list-item-avatar tile size="80">
                <v-img class="mx-2" src="/img/mob.png" height="74" width="74" contain></v-img>
              </v-list-item-avatar>
              <v-list-item-content>

                <v-list-item-title class="font-weight-bold text--primary">
                  Super Dinner
                </v-list-item-title>
                <v-list-item-subtitle>KFC Salmiya</v-list-item-subtitle>
                <v-row>
                  <v-col cols="12" md="6">
                    <div class="text--primary pt-5">
                      2.350 x 1 = 2.350 KD


                    </div>
                  </v-col>
                  <v-col cols="12" md="6" class="d-flex justify-end">
                    <v-btn outlined rounded text>
                      Apply
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item-content>


            </v-list-item>



          </v-card>
        </template>
      </v-col>
      <v-col cols="12" md="4">
        <div class="justify-end pb-6 d-sm-none d-md-flex btn">
          <v-btn text color="white" style="background-color:#6fd9e7;">
            Back to shops
          </v-btn>
        </div>

        <v-card class="mx-auto" max-width="344">
          <v-card-text>

            <p class="font-weight-bold text--primary d-flex justify-end">
              Sub Total(3 Items): KD 10.35
            </p>

            <div class="text--primary  d-flex justify-end">
              Promo Discount: KD 2.0
            </div>
            <p class="font-weight-bold cyan--text d-flex justify-end">
              Total : KD 8.35
            </p>

          </v-card-text>
          <v-card-actions class="d-flex justify-center">
            <v-btn rounded text color="white" style="background-color:#6fd9e7;">
              CHECK OUT
            </v-btn>
          </v-card-actions>
        </v-card>

      </v-col>
    </v-row>
    <v-row no-gutter>
      <v-col cols='12'>
        <div class="text-overline mb-0 cyan--text">
          You may also like
        </div>
      </v-col>
      <v-col cols="12" dense>

        <v-carousel cycle hide-delimiter-background height="400">
          <template v-for="(item, index) in slider">
            <v-carousel-item v-if="(index + 1) % columns === 1 || columns === 1" :key="index">
              <v-row class="flex-nowrap" style="height:100%">
                <template v-for="(n,i) in columns">
                  <template v-if="(+index + i) < slider.length">
                    <v-col :key="i">

                      <v-row align="center" justify="center">
                        <v-card class="mx-auto d-flex justify-center my-10" max-width="500">
                          <v-card-text align="center" justify="center">
                            <v-list-item-avatar tile size="100" align="center" justify="center">
                              <v-img class="mx-2" src="/img/niva.png" height="74" width="74" contain></v-img>
                            </v-list-item-avatar>
                            <p class="text--primary">
                              Nivea body Milk 48h Nivea<br> body milk 48h
                            </p>
                            <p class="font-weight-bold text--primary" align="center" justify="center">
                              1.200 KD
                            </p>

                            <v-row>
                              <v-col cols="12" md="7">
                                <p class="font-weight-bold red--text">
                                  Upto 5% OFF
                                </p>
                              </v-col>
                              <v-col cols="12" md="5" class="d-flex justify-end">
                                <div class="font-weight-bold">10 min</div>
                              </v-col>
                            </v-row>


                          </v-card-text>

                        </v-card>
                      </v-row>

                    </v-col>
                  </template>
                </template>
              </v-row>
            </v-carousel-item>
          </template>
        </v-carousel>

      </v-col>

    </v-row>
  </v-container>
</template>
<style>
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #EBE7E8
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1eeef
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fdfafb
  }

  @media screen and (max-width: 600px) {
    .btn {
      display: none;
    }
  }
</style>
<script>
  export default {

    data() {
      return {
        slider: [
          "red",
          "green",
          "orange",
          "blue",
          "pink",
          "purple",
          "indigo",
          "cyan",
          "deep-purple",
          "light-green",
          "deep-orange",
          "blue-grey"
        ]
      }
    },
    computed: {
      columns() {
        if (this.$vuetify.breakpoint.xl) {
          return 5;
        }

        if (this.$vuetify.breakpoint.lg) {
          return 4;
        }

        if (this.$vuetify.breakpoint.md) {
          return 6;
        }

        return 1;
      }
    },

  }
</script>