<template>
  <v-app>
    <v-toolbar color="cyan accent-4" cards dark flat dense>
      <v-btn icon>
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>
      <v-card-title class="text-h6 font-weight-regular">
        Online Cart
      </v-card-title>
      <v-spacer></v-spacer>

      <v-btn color="white" depressed class="cyan--text btn">
        1.25 kwd
        <v-icon right color="cyan">
          mdi-cart
        </v-icon>

      </v-btn>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>

    <v-main class="grey lighten-4">
      <cart />
    </v-main>
  </v-app>
</template>
<style>
  @media screen and (max-width: 600px) {
    .btn {
      display: none;
    }
  }
</style>
<script>
  import cart from './components/cart';

  export default {
    name: 'App',

    components: {
      cart,
    },

    data: () => ({
      //
    }),
  };
</script>